.divider{
    width: 115px;
    height: 3px;
    background-color: $main_color;
    margin: 0 auto;
    margin-top: 30px;
}
@media screen and (max-width:425px){
    .divider{
        margin-top: 10px;
    }
}