.skill{
    margin-top: 120px;
    &__wrapper{
        position: relative;
        display: grid;
        grid-template-columns: minmax(min-content, 250px) auto;
        grid-template-rows: min-content;
        column-gap: 60px;
        margin: 100px 0;
    }
    &__menu{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-auto-rows: 1fr;
        row-gap: 1px;
        align-items: center;
        align-self: center;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 150px solid transparent;
            border-left: 40px solid black;
            border-bottom: 150px solid transparent;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            right: -65px;

        }
        a{
            display: block;
            text-decoration: none;
            padding: 12px 10px;
            background: url("../image/bg12.jpg") ;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 5px 5px 2px $main-color, -3px -3px 10px white;
            text-align: center;
            font-size: 18px;
            color: white;
            text-shadow: 1px 1px $main-color;

            &:hover{
                border: 1px solid white;
                color: $main-color;
                text-shadow: 1px 1px white;
                transition: all 0.5s;         
                
            }
        }
        &_active{
            filter: contrast(160%);

            transition: all 0.5s;
        }
        .skill__main, .skill__add{
            color: white;
            text-shadow: 0 1px black, 0 -1px black;
            filter: grayscale(0.8);
        }
        .skill__main{
            display: none;
        }
        .skill__kind{
            display: block;
        }
        .skill__add{
            &_kind{
                display: none;
            }
        }
    }
    &__wrapper_descr{
        position: relative;
    }
    &__item{    
        position: absolute;
        opacity: 0;
        transition: all 0.7s;
        top: 50%;
        transform: translateY(-50%);
        &_active{
            opacity: 1;
            transition: all 0.7s;
        }
        &_descr{
            padding: 50px 30px 20px 30px;
            font-size: 18px;
            color: white;
            // text-shadow: 1px 1px grey,  -1px 0 grey;
            box-shadow: 1px 1px white;
            border-radius: 20px;
            background: url("../image/1.jpg") center (center/cover) no-repeat;
            filter: contrast(120%);
        }
        &_icon{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -25px;
            height: 70px;
            z-index: 10;
            opacity: 0.9;
            img{
                border-radius: 7px;
                height: 100%;
            }
        }
        &_icons{
            display: flex;
        }
        &_img{
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            img{
                height: 100%;
            }
        }
    }
}
@media screen and(max-width: 1200px){
    .skill{
        &__wrapper{
            grid-template-columns: minmax(min-content, 120px) auto;
        }
        &__menu{
            grid-template-rows: repeat(4, auto);
            grid-auto-rows: auto;
            row-gap: 5px;
        }
        &__item{
            &_descr{
                font-size: 16px;
            }
        }
        &__menu{
            a{
                font-size: 16px;
            }
        }
    }
}
@media screen and(max-width: 650px){
    .skill{
    display: block;
        &__wrapper{
            grid-template-columns: 100%;
            grid-template-rows:minmax(100px,max-content) minmax(300px,max-content);
            margin: 30px;
        }
        &__menu{  
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px,auto));
            grid-template-rows: repeat(2,1fr);
            grid-auto-rows: 1fr;
            gap: 7px;
            align-self: start;
            &:before{
                content: '';
                border-left: 120px solid transparent;
                border-right: 120px solid transparent; 
                border-top: 20px solid #8855B7;
                left: 50%;
                top: calc(100% + 20px);
                transform: translateX(-50%);
            }
            a{
                padding: 7px 5px;
                box-shadow: 4px 4px 3px $main-color, -2px -2px 5px $main-color;
            }
        }
        &__wrapper_descr{
            height: max-content;

        }
    }
}